#logo{
	background-color: #ffffffee;
	box-shadow: 0 0 60px white;
	/* padding: 5px; */
	box-sizing: border-box;
	width: calc(var(--header-height) - 8px);
	height: calc(var(--header-height) - 8px);
	margin: 4px 8px;
	background-size: calc(var(--header-height) - 16px);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: col-resize;
	transition: background-color .5s;
}

*{
	outline: none;
	box-sizing: border-box;
}

#content{
	padding-top: calc(var(--header-height) + 5px);
}

#logo:hover{
    background-color: #ffffffd1;
}

#logo.spin{
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#shadow{
  height: 5px !important;
  background: linear-gradient(#a2a2a2d6, #ffffff00);
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}


main{
  overflow: auto;
  height: 100%;
}

#nav{
	width: 32px;
	background-color: transparent;
	border: 0;
	color: white;
}