#layout
}


#menu{
	/* overflow: hidden; */
	/* margin-top: 6px; */
}


body:not(.authenticated) fractal-publish{
	display: none;
}

body:not(.mobile) #nav{
	/* display: none; */
}

body{
	--item-width: 320px;
}

.passion > div.cover{
	padding-top: 100px;
	text-align: center;
}

#domain{
	display: block;
	width: 340px;
	border-radius: 16px;
	margin: 5px auto;
	text-align: center;
	padding: 10px 14px;
	font-size: 22px;
	height: auto;
}

#launch{
	font-size: 16px;
	padding: 16px 22px;
	height: auto;
}

/*
body:not(.mobile) #navigation{
	margin: 0 !important;
}

body:not(.mobile) #nav-toggle{
	display: none;
}
*/