:host(fractal-comments){
	max-width: 960px;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 100%;
	box-sizing: border-box;
	/* padding: 8px 0; */
	padding: 0;
}



#comment-box{
	/* background-color: #e6e6e6a1; */
	padding: 5px;
	border-radius: 24px;
	text-align: left;
	display: flex;
}


#list{
	text-align: center;
	min-height: 40px;
	box-sizing: border-box;
	padding-top: 14px;
    scroll-behavior: smooth;
	overflow: auto;
}


#list::-webkit-scrollbar {
  width: 2px;
  border: 0;
  background: transparent;
}

/* Handle */
#list::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
  border: 0;
}


*{
	outline: none;
}


#owner_title, #owner{
	display: block;
	font-size: 14px;
	color: grey;
	/* margin: 2px 12px; */
	text-decoration: none;
}

#owner_title{
	padding: 2px 5px;
}


#owner{
	width: 64px;
	margin-top: -20px;
}

pineal-user{
	margin: 8px 12px;
}

textarea{
	border: 0;
	resize: none;
	width: 100%;
	border-radius: 5px;
}

#comment-text{
	padding: 5px;
}


#comment-text, textarea{
	background-color: #ffffff91;
	font-size: 14px;
	font-weight: normal;
	border-radius: 10px;
	color: black;
	padding: 10px 12px;
	font-family: 'Comfortaa', arial;
	white-space: pre-wrap;
}

main{
	padding: 2px 0px;
	text-align: left;
	display: flex;
}

button{
	background: var(--bg-gra, transparent);
	color: var(--color);
	border: 0;
	font-size: 20px;
	border-radius: 50%;
	margin: 7px;
	width: 32px;
	height: 32px;
}

#send{
	height: 100%;
	text-align: center;
}

#info{
	display: inline-block;
	position: relative;
	vertical-align: top;
	max-width: calc(100% - 110px);
}



#info:after {
	display: none;
	content: "";
	position: absolute;
	bottom: 0px;
	left: -12px;
	top: 18px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 12px 12px 0;
	border-color: transparent  #ececec transparent transparent;
}


#info-when{
	font-size: 11px;
	padding: 6px 12px;
	display: block;
	color: #0f0f0f87;
}
