#layout{
    --color: #275ba5;
    --header-height: 48px;
    --color2: #d9c359;
    --bg: #737373;
    --menu-color: #2362d1;
    --shadow-color: #56565699;
    /* --bg-grad: linear-gradient(#babdc3, #8d8989de); */
}
