#graph{
    padding: 0;
    margin: 0 !important;
}

#graph-editor, #graph-editor > .the-graph-app{
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
}



#graph-editor > .the-graph-app > *{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}