#nav{/* background-color: #f7f7f7d9; *//* backdrop-filter: blur(6px); */}


body:not(.mobile) #nav{
  /* box-shadow: inset -8px 2px 24px -16px; */
}

#nav > header{
  top: 0;
}

#nav > pineal-tree > .tree{
    padding: 0 0 128px 0;
}

#nav-toggle{
  display: none;
  position: absolute;
  left: calc(100% - 40px);
  color: #040404;
  text-shadow: 0 0 8px white;
  background-color: #ffffff91;
  border-radius: 72%;
  z-index: 20;
  width: 32px;
  height: 32px;
  transition: left .2s;
  top: 8px;
}

:host(.closed) #nav-toggle{
  left: calc(100% + 8px);
}

#nav > .tree{
    display: none;
}

pineal-tree{
  display: block;
}

#nav > pineal-tree{
  height: 100%;
}