.side{
	display: inline-block;
	color: #222;
	bottom: 0;
	position: relative;
	bottom: 0;
	margin-top: var(--header-height);
	height: calc(100% - var(--header-height));
	overflow: auto;
	padding: 0;
	width: var(--nav-width);
	min-width: 320px;
	z-index: 48;
	margin-left: 0;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	background-color: #efefef;
	/* margin: 0; */
	/* padding-top: var(--header-height); */
}

@keyframes side_shadow{
  100% {
 	box-shadow: 0 0 85px 7px #b0b0b0;
  }
}

.side:not(.right){
	left: 0;
}

.side.right{
	right: 0;
	border-left: 1px solid #b0b0b0;
}



.side.right{
	transform: translate(0);
}


.side{
	transition: margin .4s, opacity .4s, transform .4s;
	scrollbar-width: none;
}

.side:not(.right){
	/* margin-left: calc(-1 * var(--nav-width)) !important; */
}

.side:not(.right):not(.opened){
	margin-left: calc(-1 * var(--nav-width)) !important;
}

.side.right:not(.opened){
	transform: translate(calc(var(--nav-width)));
}

.side.fixed.opened{/* display: inline-block; */

	animation-name: side_shadow;
	animation-duration: 0.1s;
	animation-delay: .4s;
	animation-fill-mode: forwards;
}


/*body.mobile*/
.side.fixed{
	position: fixed !important;
	
	background-color: #efefeff1;
	backdrop-filter: blur(5px);
	/* left: 0; */
	/* backdrop-filter: blur(6px); */
}

.side:not(.fixed){
	box-shadow: 0 0 12px #737373 inset;
}

